In [86]:
import csv
import matplotlib.pyplot as plt
import pandas as pd

In [87]:
input_csv = "input.csv"

In [88]:
df = pd.read_csv(input_csv)

In [89]:
relevant_columns = ['Country', 'Region', 'Pop. Density (per sq. mi.)', 'Infant mortality (per 1000 births)', 'GDP ($ per capita) dollars']
df2 = df[relevant_columns]
#print(df2)

In [90]:
print(df2.shape)
print(df2.index)
print(df2.info())
print(df2.describe())

(227, 5)
RangeIndex(start=0, stop=227, step=1)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 5 columns):
Country                               227 non-null object
Region                                227 non-null object
Pop. Density (per sq. mi.)            227 non-null object
Infant mortality (per 1000 births)    224 non-null object
GDP ($ per capita) dollars            226 non-null object
dtypes: object(5)
memory usage: 8.9+ KB
None
         Country                               Region  \
count        227                                  227
unique       227                                   11
top     Burundi   SUB-SAHARAN AFRICA
freq           1                                   51

       Pop. Density (per sq. mi.) Infant mortality (per 1000 births)  \
count                         227                                224
unique                        217                                220
top                       unknown                               9,95
freq                            5                                  3

       GDP ($ per capita) dollars
count                         226
unique                        131
top                   800 dollars
freq                            7

In [91]:
df2.isnull().any()

Country                               False
Region                                False
Pop. Density (per sq. mi.)            False
Infant mortality (per 1000 births)     True
GDP ($ per capita) dollars             True
dtype: bool

In [92]:
df2.to_excel("output.xlsx")

In [93]:
df2['Region'].unique()

array(['ASIA (EX. NEAR EAST)         ',
       'EASTERN EUROPE                     ',
       'NORTHERN AFRICA                    ',
       'OCEANIA                            ',
       'WESTERN EUROPE                     ',
       'SUB-SAHARAN AFRICA                 ', 'LATIN AMER. & CARIB    ',
       'C.W. OF IND. STATES ', 'NEAR EAST                          ',
       'NORTHERN AMERICA                   ',
       'BALTICS                            '], dtype=object)

In [94]:
df_gdp = df2['GDP ($ per capita) dollars']
print(df_gdp.head())

0      700 dollars
1     4500 dollars
2     6000 dollars
3     8000 dollars
4    19000 dollars
Name: GDP ($ per capita) dollars, dtype: object

In [95]:
df_gdp.str.strip(' dollars')

0        700
1       4500
2       6000
3       8000
4      19000
5       1900
6       8600
7      11000
8      11200
9       3500
10     28000
11     29000
12     30000
13      3400
14     16700
15     16900
16      1900
17     15700
18      6100
19     29100
20      4900
21      1100
22     36000
23      1300
24      2400
25      6100
26      9000
27      7600
28     16000
29     18600
       ...
197     3300
198    23400
199     1000
200      600
201     7400
202     1500
203     2200
204     9500
205     6900
206     6700
207     5800
208     9600
209     1100
210     1400
211     5400
212    23200
213    27700
214    37800
215    12800
216     1700
217     2900
218     4800
219     2500
220    17200
221     3700
222      800
223      NaN
224      800
225      800
226     1900
Name: GDP ($ per capita) dollars, Length: 227, dtype: object

In [96]:
df2.iloc[:, 4] = df2.iloc[:, 4].str.strip(' dollars')
print (df2.head())

           Country                               Region  \
0     Afghanistan         ASIA (EX. NEAR EAST)
1         Albania   EASTERN EUROPE
2         Algeria   NORTHERN AFRICA
3  American Samoa   OCEANIA
4         Andorra   WESTERN EUROPE

  Pop. Density (per sq. mi.) Infant mortality (per 1000 births)  \
0                       48,0                             163,07
1                      124,6                              21,52
2                       13,8                                 31
3                      290,4                               9,27
4                      152,1                               4,05

  GDP ($ per capita) dollars
0                        700
1                       4500
2                       6000
3                       8000
4                      19000

/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:630: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [97]:
#df2.loc[:,'GDP ($ per capita) dollars'] = df2['GDP ($ per capita) dollars'].str.strip(' dollars')
#print(df2.head())

In [98]:
df2['GDP ($ per capita) dollars'].replace('unknown', '0', inplace=True)
#print(df2)

/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:5886: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [99]:
df2['Pop. Density (per sq. mi.)'].replace('unknown', '0', inplace=True)
print(df2)

                   Country                               Region  \
0             Afghanistan         ASIA (EX. NEAR EAST)
1                 Albania   EASTERN EUROPE
2                 Algeria   NORTHERN AFRICA
3          American Samoa   OCEANIA
4                 Andorra   WESTERN EUROPE
5                  Angola   SUB-SAHARAN AFRICA
6                Anguilla               LATIN AMER. & CARIB
7       Antigua & Barbuda               LATIN AMER. & CARIB
8               Argentina               LATIN AMER. & CARIB
9                 Armenia                  C.W. OF IND. STATES
10                  Aruba               LATIN AMER. & CARIB
11              Australia   OCEANIA
12                Austria   WESTERN EUROPE
13             Azerbaijan                  C.W. OF IND. STATES
14           Bahamas, The               LATIN AMER. & CARIB
15                Bahrain   NEAR EAST
16             Bangladesh         ASIA (EX. NEAR EAST)
17               Barbados               LATIN AMER. & CARIB
18                Belarus                  C.W. OF IND. STATES
19                Belgium   WESTERN EUROPE
20                 Belize               LATIN AMER. & CARIB
21                  Benin   SUB-SAHARAN AFRICA
22                Bermuda   NORTHERN AMERICA
23                 Bhutan         ASIA (EX. NEAR EAST)
24                Bolivia               LATIN AMER. & CARIB
25   Bosnia & Herzegovina   EASTERN EUROPE
26               Botswana   SUB-SAHARAN AFRICA
27                 Brazil               LATIN AMER. & CARIB
28     British Virgin Is.               LATIN AMER. & CARIB
29                 Brunei         ASIA (EX. NEAR EAST)
..                     ...                                  ...
197                 Syria   NEAR EAST
198                Taiwan         ASIA (EX. NEAR EAST)
199            Tajikistan                  C.W. OF IND. STATES
200              Tanzania   SUB-SAHARAN AFRICA
201              Thailand         ASIA (EX. NEAR EAST)
202                  Togo   SUB-SAHARAN AFRICA
203                 Tonga   OCEANIA
204     Trinidad & Tobago               LATIN AMER. & CARIB
205               Tunisia   NORTHERN AFRICA
206                Turkey   NEAR EAST
207          Turkmenistan                  C.W. OF IND. STATES
208     Turks & Caicos Is               LATIN AMER. & CARIB
209                Tuvalu   OCEANIA
210                Uganda   SUB-SAHARAN AFRICA
211               Ukraine                  C.W. OF IND. STATES
212  United Arab Emirates   NEAR EAST
213        United Kingdom   WESTERN EUROPE
214         United States   NORTHERN AMERICA
215               Uruguay               LATIN AMER. & CARIB
216            Uzbekistan                  C.W. OF IND. STATES
217               Vanuatu   OCEANIA
218             Venezuela               LATIN AMER. & CARIB
219               Vietnam         ASIA (EX. NEAR EAST)
220        Virgin Islands               LATIN AMER. & CARIB
221     Wallis and Futuna   OCEANIA
222             West Bank   NEAR EAST
223        Western Sahara   NORTHERN AFRICA
224                 Yemen   NEAR EAST
225                Zambia   SUB-SAHARAN AFRICA
226              Zimbabwe   SUB-SAHARAN AFRICA

    Pop. Density (per sq. mi.) Infant mortality (per 1000 births)  \
0                         48,0                             163,07
1                        124,6                              21,52
2                         13,8                                 31
3                        290,4                               9,27
4                        152,1                               4,05
5                          9,7                             191,19
6                        132,1                              21,03
7                        156,0                              19,46
8                         14,4                              15,18
9                         99,9                              23,28
10                           0                               5,89
11                         2,6                               4,69
12                        97,7                               4,66
13                        91,9                              81,74
14                        21,8                              25,21
15                      1050,5                              17,27
16                      1023,4                               62,6
17                       649,5                               12,5
18                        49,6                              13,37
19                       340,0                               4,68
20                        12,5                              25,69
21                        69,8                                 85
22                      1241,0                               8,53
23                        48,5                             100,44
24                         8,2                              53,11
25                        88,0                              21,05
26                         2,7                              54,58
27                        22,1                              29,61
28                       151,0                              18,05
29                        65,8                              12,61
..                         ...                                ...
197                      102,0                              29,53
198                      640,3                                6,4
199                       51,2                             110,76
200                       39,6                              98,54
201                      125,7                              20,48
202                       97,7                              66,61
203                      153,3                              12,62
204                      207,9                              24,31
205                       62,2                              24,77
206                       90,2                              41,04
207                       10,3                              73,08
208                       49,2                              15,67
209                      454,2                              20,03
210                      119,5                              67,83
211                       77,4                              20,34
212                       31,4                              14,51
213                      247,6                               5,16
214                       31,0                                6,5
215                       19,5                              11,95
216                       61,0                               71,1
217                       17,1                              55,16
218                       28,2                               22,2
219                      256,1                              25,95
220                       56,9                               8,03
221                       58,5                                NaN
222                      419,9                              19,62
223                        1,0                                NaN
224                       40,6                               61,5
225                       15,3                              88,29
226                       31,3                              67,69

    GDP ($ per capita) dollars
0                          700
1                         4500
2                         6000
3                         8000
4                        19000
5                         1900
6                         8600
7                        11000
8                        11200
9                         3500
10                       28000
11                       29000
12                       30000
13                        3400
14                       16700
15                       16900
16                        1900
17                       15700
18                        6100
19                       29100
20                        4900
21                        1100
22                       36000
23                        1300
24                        2400
25                        6100
26                        9000
27                        7600
28                       16000
29                       18600
..                         ...
197                       3300
198                      23400
199                       1000
200                        600
201                       7400
202                       1500
203                       2200
204                       9500
205                       6900
206                       6700
207                       5800
208                       9600
209                       1100
210                       1400
211                       5400
212                      23200
213                      27700
214                      37800
215                      12800
216                       1700
217                       2900
218                       4800
219                       2500
220                      17200
221                       3700
222                        800
223                        NaN
224                        800
225                        800
226                       1900

[227 rows x 5 columns]

/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:5886: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [100]:
df2.describe()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 5 columns):
Country                               227 non-null object
Region                                227 non-null object
Pop. Density (per sq. mi.)            227 non-null object
Infant mortality (per 1000 births)    224 non-null object
GDP ($ per capita) dollars            226 non-null object
dtypes: object(5)
memory usage: 8.9+ KB

In [101]:
df2.rename(columns={'Pop. Density (per sq. mi.)':'Population_density',
                          'Infant mortality (per 1000 births)':'Infant_mortality',
                          'GDP ($ per capita) dollars':'GDP_per_cap_dollars'}, 
                 inplace=True)
print(df2.head())

           Country                               Region Population_density  \
0     Afghanistan         ASIA (EX. NEAR EAST)                        48,0
1         Albania   EASTERN EUROPE                                   124,6
2         Algeria   NORTHERN AFRICA                                   13,8
3  American Samoa   OCEANIA                                          290,4
4         Andorra   WESTERN EUROPE                                   152,1

  Infant_mortality GDP_per_cap_dollars
0           163,07                 700
1            21,52                4500
2               31                6000
3             9,27                8000
4             4,05               19000

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [102]:
df2["GDP_per_cap_dollars"] = df2.GDP_per_cap_dollars.astype(float)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [103]:
df2.info()
df2.keys()
df2.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 5 columns):
Country                227 non-null object
Region                 227 non-null object
Population_density     227 non-null object
Infant_mortality       224 non-null object
GDP_per_cap_dollars    226 non-null float64
dtypes: float64(1), object(4)
memory usage: 8.9+ KB

Index(['Country', 'Region', 'Population_density', 'Infant_mortality',
       'GDP_per_cap_dollars'],
      dtype='object')

In [104]:
#df2["Population_density"] = df2.Population_density.astype(float)
#df2["Population_density"] = pd.to_numeric(df2["Population_density"],errors='coerce')

In [105]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 5 columns):
Country                227 non-null object
Region                 227 non-null object
Population_density     227 non-null object
Infant_mortality       224 non-null object
GDP_per_cap_dollars    226 non-null float64
dtypes: float64(1), object(4)
memory usage: 8.9+ KB

In [106]:
df2.head()

,Country,Region,Population_density,Infant_mortality,GDP_per_cap_dollars
0,Afghanistan,ASIA (EX. NEAR EAST),"48,0","163,07",700.0
1,Albania,EASTERN EUROPE,"124,6","21,52",4500.0
2,Algeria,NORTHERN AFRICA,"13,8",31,6000.0
3,American Samoa,OCEANIA,"290,4","9,27",8000.0
4,Andorra,WESTERN EUROPE,"152,1","4,05",19000.0